In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('jobs_cleaned.csv')

In [3]:
del df['Unnamed: 0']

In [4]:
df

,Job,Salary_Begin,Salary_End,Hourly,Monthly,Yearly,Company,Rating,Posted_Date,Posted_Month,Type,Benefits,Qualifications,Job Link
0,21 - Desktop Support Technician,16.0,39.0,1.0,0.0,0.0,PayPal,3.9,26.0,9.0,Full-time,"Health insurance, Dental insurance, Vision ins...","MCITP, Computer Science, MCP, MCSE, Bachelor's...",https://www.simplyhired.com/job/pE0v8mYHrd0RXV...
1,Operations Associate (entry-level),60000.0,80000.0,0.0,0.0,1.0,Databento,NaN,NaN,NaN,NaN,"Disability insurance, Health insurance, Dental...","Lever, Sales, Marketing, Writing skills, ATS, ...",https://www.simplyhired.com/job/UhRG9kuufwPfvq...
2,IT Helpdesk Remote Support; Support Specialist I,35100.0,44500.0,0.0,0.0,1.0,Liberty University,3.8,NaN,NaN,Full-time,NaN,"Microsoft Powerpoint, Microsoft Word, Computer...",https://www.simplyhired.com/job/G03Xkf3I0D3Xng...
3,IT Support Specialist II - $5000 - Remote,NaN,5000.0,0.0,1.0,0.0,Gold Alliance,4.7,4.0,10.0,Full-time,"Health insurance, 401(k), Paid time off, On-th...","Azure, Management, Computer Science, Software ...",https://www.simplyhired.com/job/5wPI9EftH0tZxN...
4,IT Help Desk Technician,41700.0,52800.0,0.0,0.0,1.0,Advanced Computer Solutions,5.0,NaN,NaN,Full-time,NaN,"Software troubleshooting, Bachelor of Science,...",https://www.simplyhired.com/job/9kinGpt9ZFmjYb...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,Software Engineer,107000.0,136000.0,0.0,0.0,1.0,Caterpillar,3.8,NaN,NaN,Full-time,Work from home,"Java, Master's degree, Bachelor's degree, Java...",https://www.simplyhired.com/job/wORmIblVsfINSg...
931,Data & Analytics Consultant - Qlik/Microsoft P...,94900.0,120000.0,0.0,0.0,1.0,InOutsource LLC,3.0,NaN,NaN,NaN,"Disability insurance, Health insurance, 401(k)...","RESTful API, Relational databases, Microsoft O...",https://www.simplyhired.com/job/mbvwkfrSSFPiJF...
932,Technical Data Owner,82400.0,104000.0,0.0,0.0,1.0,Step Up For Students,3.5,NaN,NaN,Full-time,"Health savings account, Disability insurance, ...","Microsoft Powerpoint, Microsoft Word, Computer...",https://www.simplyhired.com/job/9ZfbJBwL8amjdw...
933,Business Analyst,87700.0,111000.0,0.0,0.0,1.0,SunStream Business Services,1.0,NaN,NaN,Full-time,NaN,"Computer Science, 5 years, Writing skills, Bus...",https://www.simplyhired.com/job/Z4oJEFMmwpgClW...
934,NodeJS Developer (Electron),54.0,57.0,1.0,0.0,0.0,Alderon Games,NaN,NaN,NaN,Contract,Flexible schedule,"Computer science, Node.js, Computer Science, C...",https://www.simplyhired.com/job/v3-rTTCA2G5Qo2...

In [5]:
print(df['Job'].value_counts())

Software Engineer                                                32
Data Engineer                                                    25
Data Analyst                                                     13
Software Developer                                               10
Quality Assurance Engineer                                        8
                                                                 ..
Integration Analyst                                               1
Part-Time Student-Product Engineering-Fargo ND-Partial Remote     1
HEDIS Data Analyst                                                1
Software Quality Engineer (Remote)                                1
NodeJS Developer (Electron)                                       1
Name: Job, Length: 757, dtype: int64

In [6]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'Data Scientist'
    elif 'AI ' in title.upper() or 'artificial intelligence' in title.lower():
        return 'Artificial Intelligence'
    elif 'analyst' in title.lower():
        return 'Analyst'
    elif 'cloud' in title.lower():
        return 'Cloud Engineer'
    elif 'security' in title.lower():
        return 'Security Engineer'
    elif 'IT ' in title.upper():
        return 'IT Engineer'
    elif 'quality' in title.lower():
        return 'Quality Assurance Engineer'
    elif 'web' in title.lower():
        return 'Web Developer'
    elif 'software engineer' in title.lower():
        return 'Software Engineer'
    elif 'software developer' in title.lower() or 'developer' in title.lower():
        return 'Software Developer'
    elif 'data engineer' in title.lower():
        return 'Data Engineer'
    elif 'manager' in title.lower():
        return 'Manager'
    elif 'admin' in title.lower():
        return 'Administrator'
    elif 'director' in title.lower():
        return 'Director'
    else:
        return 'Others'
    
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower() or 'head' in title.lower() or 'expert' in title.lower():
        return 'senior'
    elif 'jr' in title.lower() or 'junior' in title.lower() or 'entry' in title.lower():
        return 'junior'
    else:
        return float('nan')
    
def location_type(title):
    if 'remote' in title.lower():
        return 'Remote'
    else:
        return 'Others'

In [7]:
df['Job_simp'] = df['Job'].apply(title_simplifier)

In [8]:
df['Job_simp'].value_counts()

Others                        309
Analyst                       218
Software Engineer             126
Software Developer             55
Data Engineer                  55
IT Engineer                    41
Administrator                  39
Quality Assurance Engineer     32
Web Developer                  20
Data Scientist                 14
Manager                        10
Security Engineer               9
Artificial Intelligence         3
Director                        2
Cloud Engineer                  2
Name: Job_simp, dtype: int64

In [9]:
df['Job_seniority'] = df['Job'].apply(seniority)

In [10]:
df['Job_seniority'].value_counts()

senior    80
junior    33
Name: Job_seniority, dtype: int64

In [11]:
df['Location_type'] = df['Job'].apply(location_type)

In [12]:
df.Location_type.value_counts()

Others    791
Remote    144
Name: Location_type, dtype: int64

In [13]:
df['Qualifications'] = df['Qualifications'].apply(lambda x: str(x))
df['Benefits'] = df['Benefits'].apply(lambda x: str(x))
df['Qualifications'] = df['Qualifications'].apply(lambda x: x.replace(' ', '').lower())
df['Benefits'] = df['Benefits'].apply(lambda x: x.replace(' ', '').lower())

In [14]:
def remove_duplicates(string):
    elements = [x.strip() for x in string.split(',')]
    unique_elements = list(set(elements))
    return ','.join(unique_elements)

df['Qualifications'] = df['Qualifications'].apply(remove_duplicates)
df['Benefits'] = df['Benefits'].apply(remove_duplicates)

In [15]:
def make_num(df, column, num_column):
    df[num_column] = df[column].apply(lambda x: len(x.split(',')))
    
make_num(df, 'Qualifications', 'num_Qualifications')
make_num(df, 'Benefits', 'num_Benefits')

In [16]:
qualifications = pd.Series([])
benefits = pd.Series([])
def series(series_name, column, num_column):
    for i in range(0, len(df)):
        for j in range(0, int(df[num_column][i])):
            item = df[column][i].split(',')[j]
            series_name.loc[len(series_name)] = str(item)   
            
series(qualifications, 'Qualifications', 'num_Qualifications')
series(benefits, 'Benefits', 'num_Benefits')

C:\Users\bishe\AppData\Local\Temp\ipykernel_20012\2920130941.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  qualifications = pd.Series([])
C:\Users\bishe\AppData\Local\Temp\ipykernel_20012\2920130941.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  benefits = pd.Series([])

In [17]:
qualifications = qualifications.apply(lambda x: str(x))
benefits = benefits.apply(lambda x: str(x))

In [18]:
print(df['num_Qualifications'].sum())
qualifications

13160

0            computerscience
1                         it
2                      mcitp
3                       mcse
4                     2years
                ...
13155                english
13156                    git
13157       bachelor'sdegree
13158    computerengineering
13159                  html5
Length: 13160, dtype: object

In [19]:
qualifications.value_counts()

bachelor'sdegree          815
computerscience           755
communicationskills       524
sql                       294
analysisskills            231
                         ...
earnedvaluemanagement       1
burpsuite                   1
employment&laborlaw         1
relationshipmanagement      1
lending                     1
Length: 882, dtype: int64

In [20]:
benefits.value_counts()

healthinsurance               495
401(k)                        428
dentalinsurance               417
visioninsurance               385
paidtimeoff                   370
                             ...
dependentcarereimbursement      1
paidjuryduty                    1
financialplanningservices       1
companycar                      1
401(k)6%match                   1
Length: 75, dtype: int64

In [21]:
print(df['num_Benefits'].sum())
benefits

4532

0             lifeinsurance
1           healthinsurance
2           dentalinsurance
3           visioninsurance
4       disabilityinsurance
               ...
4527         401(k)matching
4528        healthinsurance
4529                 401(k)
4530                    nan
4531       flexibleschedule
Length: 4532, dtype: object

In [22]:
#Transformed the salary into yearly and calculated the average salary
df['Salary_Begin'] = df.apply(lambda x: x.Salary_Begin*2000.0 if x.Hourly == 1.0 else x.Salary_Begin*12.0 if x.Monthly == 1.0 else x.Salary_Begin, axis = 1)
df['Salary_End'] = df.apply(lambda x: x.Salary_End*2000.0 if x.Hourly == 1.0 else x.Salary_End*12.0 if x.Monthly == 1.0 else x.Salary_End, axis = 1)
df['Salary_Average'] = df.apply(lambda x: (x.Salary_Begin + x.Salary_End)/2.0 if x.Salary_Begin != float('nan') and x.Salary_End != float('nan') else float('nan'), axis = 1)

In [23]:
df[['Salary_Begin', 'Salary_End', 'Salary_Average']]

     Salary_Begin  Salary_End  Salary_Average
0         32000.0     78000.0         55000.0
1         60000.0     80000.0         70000.0
2         35100.0     44500.0         39800.0
3             NaN     60000.0             NaN
4         41700.0     52800.0         47250.0
..            ...         ...             ...
930      107000.0    136000.0        121500.0
931       94900.0    120000.0        107450.0
932       82400.0    104000.0         93200.0
933       87700.0    111000.0         99350.0
934      108000.0    114000.0        111000.0

[935 rows x 3 columns]

In [24]:
df['Type'].value_counts()

Full-time                                    589
Contract                                      35
Full-time, Contract                           32
Part-time                                     17
Part-time, Full-time                           5
Permanent, Full-time                           4
Temporary, Contract                            2
Temporary                                      1
Full-time, Apprenticeship                      1
Part-time, Contract                            1
Temporary, Full-time                           1
Temporary, Part-time, Full-time, Contract      1
Permanent, Part-time, Full-time, Contract      1
Permanent, Full-time, Contract                 1
Temporary, Part-time                           1
Freelance                                      1
Temp-to-hire, Contract                         1
Name: Type, dtype: int64

In [25]:
df['Type'] = df['Type'].apply(lambda x: str(x))
df['Type'] = df['Type'].apply(lambda x: x.replace(', ', ','))
make_num(df, 'Type', 'num_Type')
Type = pd.Series([])
series(Type, 'Type', 'num_Type')
Type.value_counts()

C:\Users\bishe\AppData\Local\Temp\ipykernel_20012\1286314707.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  Type = pd.Series([])

Full-time         635
nan               241
Contract           74
Part-time          26
Permanent           6
Temporary           6
Apprenticeship      1
Freelance           1
Temp-to-hire        1
dtype: int64