In [219]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [220]:
df = pd.read_csv('jobs_cleaned.csv')

In [221]:
del df['Unnamed: 0']

In [222]:
display(df.head())

,Job,Salary_Begin,Salary_End,Hourly,Monthly,Yearly,Company,Rating,Posted_Date,Posted_Month,Type,Benefits,Qualifications,Job Link
0,21 - Desktop Support Technician,16.0,39.0,1.0,0.0,0.0,PayPal,3.9,26.0,9.0,Full-time,"Health insurance, Dental insurance, Vision ins...","MCITP, Computer Science, MCP, MCSE, Bachelor's...",https://www.simplyhired.com/job/pE0v8mYHrd0RXV...
1,Operations Associate (entry-level),60000.0,80000.0,0.0,0.0,1.0,Databento,NaN,NaN,NaN,NaN,"Disability insurance, Health insurance, Dental...","Lever, Sales, Marketing, Writing skills, ATS, ...",https://www.simplyhired.com/job/UhRG9kuufwPfvq...
2,IT Helpdesk Remote Support; Support Specialist I,35100.0,44500.0,0.0,0.0,1.0,Liberty University,3.8,NaN,NaN,Full-time,NaN,"Microsoft Powerpoint, Microsoft Word, Computer...",https://www.simplyhired.com/job/G03Xkf3I0D3Xng...
3,IT Support Specialist II - $5000 - Remote,NaN,5000.0,0.0,1.0,0.0,Gold Alliance,4.7,4.0,10.0,Full-time,"Health insurance, 401(k), Paid time off, On-th...","Azure, Management, Computer Science, Software ...",https://www.simplyhired.com/job/5wPI9EftH0tZxN...
4,IT Help Desk Technician,41700.0,52800.0,0.0,0.0,1.0,Advanced Computer Solutions,5.0,NaN,NaN,Full-time,NaN,"Software troubleshooting, Bachelor of Science,...",https://www.simplyhired.com/job/9kinGpt9ZFmjYb...

In [223]:
print(df['Job'].value_counts())

Software Engineer                                                32
Data Engineer                                                    25
Data Analyst                                                     13
Software Developer                                               10
Quality Assurance Engineer                                        8
                                                                 ..
Integration Analyst                                               1
Part-Time Student-Product Engineering-Fargo ND-Partial Remote     1
HEDIS Data Analyst                                                1
Software Quality Engineer (Remote)                                1
NodeJS Developer (Electron)                                       1
Name: Job, Length: 757, dtype: int64

In [224]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'Data Scientist'
    elif 'AI ' in title.upper() or 'artificial intelligence' in title.lower():
        return 'Artificial Intelligence'
    elif 'analyst' in title.lower():
        return 'Analyst'
    elif 'cloud' in title.lower():
        return 'Cloud Engineer'
    elif 'security' in title.lower():
        return 'Security Engineer'
    elif 'IT ' in title.upper():
        return 'IT Engineer'
    elif 'quality' in title.lower():
        return 'Quality Assurance Engineer'
    elif 'web' in title.lower():
        return 'Web Developer'
    elif 'software engineer' in title.lower():
        return 'Software Engineer'
    elif 'software developer' in title.lower() or 'developer' in title.lower():
        return 'Software Developer'
    elif 'data engineer' in title.lower():
        return 'Data Engineer'
    elif 'manager' in title.lower():
        return 'Manager'
    elif 'admin' in title.lower():
        return 'Administrator'
    elif 'director' in title.lower():
        return 'Director'
    else:
        return 'Others'
    
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower() or 'head' in title.lower():
        return 'senior'
    elif 'jr' in title.lower() or 'junior' in title.lower():
        return 'jr'
    else:
        return 'nan'
    
def location_type(title):
    if 'remote' in title.lower():
        return 'Remote'
    else:
        return 'nan'

In [225]:
df['Job_simp'] = df['Job'].apply(title_simplifier)

In [226]:
df['Job_simp'].value_counts()

Others                        309
Analyst                       218
Software Engineer             126
Software Developer             55
Data Engineer                  55
IT Engineer                    41
Administrator                  39
Quality Assurance Engineer     32
Web Developer                  20
Data Scientist                 14
Manager                        10
Security Engineer               9
Artificial Intelligence         3
Director                        2
Cloud Engineer                  2
Name: Job_simp, dtype: int64

In [227]:
df['Job_seniority'] = df['Job'].apply(seniority)

In [228]:
df['Job_seniority'].value_counts()

nan       838
senior     72
jr         25
Name: Job_seniority, dtype: int64

In [229]:
df['Location_type'] = df['Job'].apply(location_type)

In [230]:
df['Location_type'].value_counts()

nan       791
Remote    144
Name: Location_type, dtype: int64

In [231]:
def make_num(df, column, num_column):
    df[column] = df[column].apply(lambda x: str(x).replace(', ', ','))
    df[num_column] = df[column].apply(lambda x: len(x.split(',')))
    
make_num(df, 'Qualifications', 'num_Qualifications')
make_num(df, 'Benefits', 'num_Benefits')

In [232]:
df['num_Qualifications']

0       7
1      18
2      11
3      12
4       7
       ..
930     8
931    14
932    22
933    11
934    15
Name: num_Qualifications, Length: 935, dtype: int64

In [233]:
df['num_Benefits']

0       4
1       6
2       1
3       5
4       1
       ..
930     1
931     5
932    10
933     1
934     1
Name: num_Benefits, Length: 935, dtype: int64

In [264]:
qualifications = pd.Series([str])
benefits = pd.Series([str])
def series(series_name, column, num_column):
    for i in range(0, len(df)):
        for j in range(0, int(df[num_column][i])):
            item = df[column][i].split(',')[j].lower()
            if str(item) in str(series_name[-j-1:]):
                continue
            else:
                series_name.loc[len(series_name)] = str(item)
            
series(qualifications, 'Qualifications', 'num_Qualifications')
series(benefits, 'Benefits', 'num_Benefits')

In [265]:
qualifications

0               <class 'str'>
1                       mcitp
2            computer science
3                         mcp
4                        mcse
                 ...
12406    computer engineering
12407               scripting
12408                  vue.js
12409    communication skills
12410                   html5
Length: 12411, dtype: object

In [266]:
qualifications.value_counts()

bachelor's degree        781
computer science         755
communication skills     380
analysis skills          206
sql                      199
                        ...
aerospace engineering      1
photo editing              1
graphic design             1
color theory               1
lending                    1
Length: 880, dtype: int64

In [267]:
benefits.value_counts()

health insurance               488
dental insurance               413
401(k)                         365
paid time off                  336
vision insurance               331
                              ...
457(b)                           1
company car                      1
uniform allowance                1
meals & incidentals stipend      1
401(k) 6% match                  1
Length: 76, dtype: int64

In [268]:
benefits

0               <class 'str'>
1            health insurance
2            dental insurance
3            vision insurance
4              life insurance
                ...
4055    tuition reimbursement
4056         vision insurance
4057           life insurance
4058                      nan
4059        flexible schedule
Length: 4060, dtype: object